# local package
-e .

# external requirements
luigi
pandas
setuptools
pytest
pytest-cov
recommonmark
dvc
dvc[ssh]
sklearn
numpy==1.19.3  # other versions throw runtime error (https://tinyurl.com/y3dm3h86)
hypothesis
tensorflow-cpu
